/* -*- coding: utf-8; mode: css -*-
 *
 * Sphinx HTML theme customization: read the doc
 *
 */

@media screen {

    /* content column
     *
     * RTD theme's default is 800px as max width for the content, but we have
     * tables with tons of columns, which need the full width of the view-port.
     */

    .wy-nav-content{max-width: none; }

    /* table:
     *
     *   - Sequences of whitespace should collapse into a single whitespace.
     *   - make the overflow auto (scrollbar if needed)
     *   - align caption "left" ("center" is unsuitable on vast tables)
     */

    .wy-table-responsive table td { white-space: normal; }
    .wy-table-responsive { overflow: auto; }
    .rst-content table.docutils caption { text-align: left; font-size: 100%; }

    /* captions:
     *
     *   - captions should have 100% (not 85%) font size
     *   - hide the permalink symbol as long as link is not hovered
     */

    .toc-title {
        font-size: 150%;
	font-weight: bold;
    }

    caption, .wy-table caption, .rst-content table.field-list caption {
        font-size: 100%;
    }
    caption a.headerlink { opacity: 0; }
    caption a.headerlink:hover { opacity: 1; }

    /* Menu selection and keystrokes */

    span.menuselection {
	color: blue;
	font-family: "Courier New", Courier, monospace
    }

    code.kbd, code.kbd span {
	color: white;
	background-color: darkblue;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace
    }

    /* inline literal: drop the borderbox, padding and red color */

    code, .rst-content tt, .rst-content code {
        color: inherit;
        border: none;
        padding: unset;
        background: inherit;
        font-size: 85%;
    }

    .rst-content tt.literal,.rst-content tt.literal,.rst-content code.literal {
        color: inherit;
    }
}

.black    { color:black; }
.gray     { color:gray; }
.grey     { color:gray; }
.silver   { color:silver; }
.white    { color:white; }
.maroon   { color:maroon; }
.red      { color:red; }
.magenta  { color:magenta; }
.fuchsia  { color:fuchsia; }
.pink     { color:pink; }
.orange   { color:orange; }
.yellow   { color:yellow; }
.lime     { color:lime; }
.green    { color:green; }
.olive    { color:olive; }
.teal     { color:teal; }
.cyan     { color:cyan; }
.aqua     { color:aqua; }
.blue     { color:blue; }
.navy     { color:navy; }
.purple   { color:purple; }
